* {
    margin: 0;
    padding: 0;
  }
  
html {
    position: relative;
    min-height: 100%;
  }

body {
    font-family: Roboto, serif;
    /* Margin bottom by footer height */
    margin: 0 0 150px 0;
}

.container-fluid {
    width: 100%;
    margin: 0 30px;
}

.jumbotron {
    
}

.about {
    background-color:  #ffffff;
}

.portfolio {
    margin-bottom: 20px;
}

.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */
    
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

/*
   Multicoloured Hover Variations
*/
#social-li, #social-gh, #social-tw, #social-em {
    color:  #5499c7;
}

#social-li:hover {
    color: #0073b1;
}
#social-gh:hover {
    color: #24292e;
}
#social-tw:hover {
    color: #4099FF;
}
#social-em:hover {
    color: #f39c12;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 150px;
    background-color: #f5f5f5;
  }

.footer-content {
    margin: 20px 10px 10px 10px;
  }

  .copyright {
      margin-top: 30px;
  }


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
