* {
    margin: 0;
    padding: 0;
  }
  
html {
    position: relative;
    min-height: 100%;
    background-color: #f5f5f5;
  }

body {
    font-family: 'Archivo', sans-serif;
    /* Margin bottom by footer height */
    margin: 0 0 180px 0;
    padding-top: 56px;
    background-color: #f5f5f5;
}

/* Navbar */

.navbar-dark .navbar-brand {
    color: #1abc9c;
}
.nav-link:hover {
    color: #1abc9c;
}

a {
    color: #1abc9c;
}

a:hover {
    color: #1abc9c;
    text-decoration-line: underline;
}

.container-fluid {
    padding: 0;
}

/* Jumbotron header and logo */

.jumbotron {
    padding: 20px 25px 20px 25px;
    background-color: #f5f5f5;
}

.jumbotron-content {
  
}

.logo-strapline {
    margin: 0 0 0 30px;
}

/* About section */

.row {
    margin: 0;
}

#about-section {
    padding-top: 80px; 
    margin-top: -80px;
    margin-bottom: 30px;
}

.about-heading {
    margin-left: 25px;
}

.about {
    margin: 40px 25px;
}

/* From bootsnippet https://bootsnipp.com/snippets/qrGeD */
  
  .center {
    fill: #1abc9c;
  }
  
  .pointer {
    fill: #fff;
    stroke: #1abc9c;
    stroke-width: 2;
  }
  
  .nav-copy {
    font-family: 'Roboto';
    fill: #fff;
    fill-opacity: 1;
    -webkit-transition: all 250ms ease-in;
    transition: all 250ms ease-in;
  }
  .nav-copy.changing {
    fill-opacity: 0;
  }
  
  .service {
    cursor: pointer;
  }
  .service text {
    font-size: 14px;
    font-family: 'Roboto';
    text-anchor: middle;
  }
  .service .icon-wrapper {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  .service .icon-wrapper, .service .icon-wrapper > * {
    -webkit-transition: all 250ms ease-in;
    transition: all 250ms ease-in;
  }
  .service circle {
    fill: #1abc9c;
  }
  .service circle.shadow {
    fill-opacity: 0;
    -webkit-filter: url(#service-shadow);
            filter: url(#service-shadow);
  }
  .service use {
    fill: #fff;
  }
  .service text {
    fill: #4d4d4d;
  }
  .service.active .icon-wrapper, .service:hover .icon-wrapper {
    -webkit-transform: scale(1.15) translateY(-5px);
            transform: scale(1.15) translateY(-5px);
  }
  .service.active .icon-wrapper, .service.active .icon-wrapper > *, .service:hover .icon-wrapper, .service:hover .icon-wrapper > * {
    -webkit-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
  }
  .service.active .icon-wrapper circle.shadow, .service:hover .icon-wrapper circle.shadow {
    fill-opacity: 0.4;
  }
  .service.active text, .service:hover text {
    fill: #4d4d4d;
    font-weight: bold;
  }

  svg text {
    font-family: FontAwesome;
 }
 
 h2 {
     padding-bottom: 30px !important;
 }

/* Portfolio including BootSnippet */

#portfolio-section {
    padding: 40px 25px;
    padding-top: 80px; 
    margin-top: -80px;
}

h2 .portfolio-heading {
    margin-top: 20px;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
    min-width: 240px;
}

.card p {
    font-size: 14px;
}

.backside .card a {
    font-size: 18px;
    color: #1abc9c !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #1abc9c !important;
}

.backside .card-body {
    padding: 5px 15px 0 15px;
    margin-top: 10px;
}


.frontside .card .card-body img {
    width: 185px;
    height: 160px;
    border-radius: 3%;
    margin: 10px 0 0 0;
}

/* Skills Section */

#skills-section {
    padding: 40px 25px;
    padding-top: 80px; 
    margin-top: -80px;
}

/* Footer including hover variations */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 180px;
  }

.footer-content {
    margin: 20px 10px 10px 10px;
    align-content: center;
  }

  .copyright {
      margin-top: 30px;
      text-align: center;
  }

.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */
    
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

#social-li, #social-gh, #social-tw, #social-em, #social-lk {
    color:    #1abc9c;
}

#social-li:hover {
    color: #0073b1;
}
#social-gh:hover {
    color: #24292e;
}
#social-tw:hover {
    color: #4099FF;
}
#social-em:hover {
    color: #f39c12;
}
#social-lk:hover {
    color:  #f39c12;
}


/* Media queries */

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
